@import "../../../../assets/themes/variable";

   /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   html{
      scroll-behavior: smooth;
   }
   section.hero-component{
      width: 100%;
      height: 100vh;
      border-radius:0 0  50% 0;
      position: relative;
      // overflow: hidden;
      &:after{
         content: '';
         position: absolute;
         height: 70%;
         width: 100%;
         top: 0%;
         left: 0;
         background: $otherble;
         z-index: -1;
         border-radius: 0 0% 50% 0;
      }
    nav{
      
       display: flex;
       width: 100%;
       position: fixed;
       box-shadow: 2px 2px 12px $black;
       border-radius: 0 0  15px 15px;
       background: $otherble;
       justify-content:space-between;
       align-items: center;
       height: 50px;
       padding: 0;
       &::after{
          content: '';
          position: absolute;
          width: 58%;
          height: 100%;
          background: $otherble;
       }
      //  overflow: hidden;
       z-index: 1;
       .logo{
          position: absolute;
          z-index: 1;
          right: 2%;
          background: $white;
          border-radius: 5px;
         width: 15%;
         img{
            width: 100%;
         }
      }
       ul{
         height: 100vh;
         width: 20vw;
         transform: translateX(-150%);
         margin-top: 3.5rem;
         z-index: 1;
         background: $black;
          li{
             list-style: none;
            //  background: red;
             margin: 2.7rem 0;
             width: 100%;
             text-align: center;
            //  position: absolute;
             .links{
                color: $white;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 500;
                position: relative;
                padding:.6rem 0 ;
                letter-spacing:2px ;
                &::after{
                   content: '';
                   position: absolute;
                   border-bottom: 2px solid $otherorange;
                   width: 0%;
                   bottom: 0;
                   left: 0;
                   transition: 0.5s;
                }
                &:hover:after{
                   width: 100%;
                }
             }
            }
            #signup{
               // z-index: 1;
               margin-left: 0rem;
               // text-align: center;
               width: 90px;
               text-align: center;
               background: $otherorange;
               cursor: pointer;
               transition: 0.5s ease;
               padding:.3rem 0 ;
               border-radius: 5px;
               a{
                  font-size:1rem ;
                  font-weight: 500;
                  color: $white;
                  text-decoration: none;
               }
               &:hover{
                  background: transparent;
                  border: 1px solid $otherorange;
                  a{
                     color: $otherorange;
                  }
               }
            }
            
       }
       button{
          color: $white;
          background: transparent;
          font-size: 2rem;
          display: block;
          z-index: 1;
         position: absolute;
         left: 5%;
         top: 5%;
       }
    }
   
   
      // hero sections display
   
      // .herobody{
      //    align-items: center;
      //    justify-content: space-between;
      //    height: 100%;
      //    flex-direction: column;
      //    padding: 0 20px;
       
      // }
     button {
         border: none;
         color: $white;
         font-size: 1.5rem;
         // font-weight: bolder;
      }
   }
   
   .wrapper{
      display: inline-flex;
      .static-txt{
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: 90px;
     }
     .dynamic-txts{
       margin-left: 15px;
       line-height: 90px;
       height: 80px;
       overflow: hidden;
       /* background: red;  */
    }
    li{
      list-style: none;
      font-size: 20px;
      font-weight: 400;
      color: $otherorange;
      position: relative;
      top: 0%;
      animation: slide 6s steps(4) infinite;
      span{
         position: relative;
         &::after{
           content: "";
           position: absolute;
           left: 0;
           bottom: 0%;
           height: 100%;
           width: 100%;
           background: $otherble;
           border-left: 2px solid $otherorange;
           animation: typing 1.5s steps(10) infinite;
   
      }
      }
   }
   }
   @keyframes slide{
      100%{
        top: -360px;
      }
   }
   
   @keyframes typing{
      100%{
         left: 100%;
         margin: 0 -20px 0 20px;
      }
   }
   
   
   // .hero{
      .hero {
         display: block  !important;
         // justify-content: space-between;
         padding:0 40px ;
         
         // flex-direction: column;
         height: 100vh;
         width: 100%;
         color: $white;
         .image-section{
            width: 100%;
            margin-top: 35% ;
            img{
               width: 100%;
               // margin: 2rem;
            }
         }
         .welcome-message{
            // margin: 5rem 0;
            padding: 5rem 0;
            h1{
               font-size: 25px;
               font-weight: 900;
            }
            h2{
               font-size: 17px;
            }
            button{
               background-color: $otherorange;
               font-size: 1rem;
               font-weight: 600;
               width: 120px;
               height: 40px;
               border: none;
               border-radius: 5px;
               cursor: pointer;
               transition: 0.5s ease-in-out;
               &:hover{
                  transform: scaleX(1.2);
                  box-shadow: 0px 2px 2px $black;
               }
            }
         }
      }
   

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) and (min-width: 600px) {
  
   html{
      scroll-behavior: smooth;
   }
   section.hero-component{
      width: 100%;
      height: 100vh;
      border-radius:0 0  50% 0;
      position: relative;
      // overflow: hidden;
      &:after{
         content: '';
         position: absolute;
         height: 85%;
         width: 100%;
         top: 0%;
         left: 0;
         background: $otherble;
         z-index: -1;
         border-radius: 0 0% 50% 0;
      }
    nav{
      
       display: flex;
       width: 100%;
       position: fixed;
       box-shadow: 2px 2px 12px $black;
       border-radius: 0 0  15px 15px;
       background: $otherble;
       justify-content:space-between;
       align-items: center;
       height: 100px;
       padding: 0;
       &::after{
          content: '';
          position: absolute;
          width: 58%;
          height: 100%;
          background: $otherble;
       }
      //  overflow: hidden;
       z-index: 1;
       .logo{
          position: absolute;
          z-index: 1;
          right: 2%;
          background: $white;
          border-radius: 5px;
         width: 15%;
         img{
            width: 100%;
         }
      }
       ul{
         height: 100vh;
         width: 20vw;
         transform: translateX(-100%);
         margin-top: 3.5rem;
         z-index: 1;
         background: $black;
          li{
             list-style: none;
            //  background: red;
             margin: 2.7rem 0;
             width: 100%;
             text-align: center;
            //  position: absolute;
             .links{
                color: $white;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 500;
                position: relative;
                padding:.6rem 0 ;
                letter-spacing:2px ;
                &::after{
                   content: '';
                   position: absolute;
                   border-bottom: 2px solid $otherorange;
                   width: 0%;
                   bottom: 0;
                   left: 0;
                   transition: 0.5s;
                }
                &:hover:after{
                   width: 100%;
                }
             }
            }
            #signup{
               // z-index: 1;
               margin-left: 2rem;
               // text-align: center;
               width: 90px;
               text-align: center;
               background: $otherorange;
               cursor: pointer;
               transition: 0.5s ease;
               padding:.3rem 0 ;
               border-radius: 5px;
               a{
                  font-size:1rem ;
                  font-weight: 500;
                  color: $white;
                  text-decoration: none;
               }
               &:hover{
                  background: transparent;
                  border: 1px solid $otherorange;
                  a{
                     color: $otherorange;
                  }
               }
            }
            
       }
       button{
          color: $black;
          background: transparent;
          font-size: 2.4rem;
          display: block;
          z-index: 1;
         position: absolute;
         left: 5%;
         top: 15%;
       }
    }
   
   
      // hero sections display
   
      // .herobody{
      //    align-items: center;
      //    justify-content: space-between;
      //    height: 100%;
      //    flex-direction: column;
      //    padding: 0 20px;
       
      // }
     button {
         border: none;
         color: $white;
         font-size: 1.5rem;
         // font-weight: bolder;
      }
   }
   
   .wrapper{
      display: inline-flex;
      .static-txt{
        color: #fff;
        font-size: 30px;
        font-weight: 400;
        line-height: 90px;
     }
     .dynamic-txts{
       margin-left: 15px;
       line-height: 90px;
       height: 80px;
       overflow: hidden;
       /* background: red;  */
    }
    li{
      list-style: none;
      font-size: 30px;
      font-weight: 400;
      color: $otherorange;
      position: relative;
      top: 0%;
      animation: slide 6s steps(4) infinite;
      span{
         position: relative;
         &::after{
           content: "";
           position: absolute;
           left: 0;
           bottom: -1%;
           height: 100%;
           width: 100%;
           background: $otherble;
           border-left: 2px solid $otherorange;
           animation: typing 1.5s steps(10) infinite;
   
      }
      }
   }
   }
   @keyframes slide{
      100%{
        top: -360px;
      }
   }
   
   @keyframes typing{
      100%{
         left: 100%;
         margin: 0 -20px 0 20px;
      }
   }
   
   
   // .hero{
      .hero {
         display: block  !important;
         // justify-content: space-between;
         padding:0 40px ;
         
         // flex-direction: column;
         height: 100vh;
         width: 100%;
         color: $white;
         .image-section{
            width: 100%;
            // margin: 35% 0;
            margin-top: 0% ;
            // margin-bottom: 40%;
            img{
               width: 100%;
               // margin: 2rem;
            }
         }
         .welcome-message{
            // margin: 5rem 0;
            padding: 10rem 0;
            h1{
               font-size: 45px;
               font-weight: 900;
            }
            h2{
               font-size: 30px;
            }
            button{
               background-color: $otherorange;
               font-size: 1rem;
               font-weight: 600;
               width: 120px;
               height: 40px;
               border: none;
               border-radius: 5px;
               cursor: pointer;
               transition: 0.5s ease-in-out;
               &:hover{
                  transform: scaleX(1.2);
                  box-shadow: 0px 2px 2px $black;
               }
            }
         }
      }
   

}






/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   html{
      scroll-behavior: smooth;
   }
   section.hero-component{
      width: 100%;
      height: 100vh;
      border-radius:0 0  50% 0;
      position: relative;
      // overflow: hidden;
      &:after{
         content: '';
         position: absolute;
         height: 95%;
         width: 58%;
         top: 0%;
         left: 0;
         background: $otherble;
         z-index: -1;
         border-radius: 0 0% 50% 0;
      }
    nav{
      
       display: flex;
       width: 100%;
       position: fixed;
       box-shadow: 2px 2px 12px $black;
       border-radius: 0 0  15px 15px;
       background: $white;
       justify-content:space-between;
       align-items: center;
       height: 100px;
       padding: 0;
      //  overflow: hidden;
       z-index: 1;
       .logo{
         width: 13%;
         img{
            width: 100%;
         }
      }
       ul{
          width: 58%;
          z-index: 1;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          height: 100%;
          background: $otherble;
          li{
             list-style: none;
             .links{
                color: $white;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 500;
                position: relative;
                padding:.6rem 0 ;
                letter-spacing:2px ;
                &::after{
                   content: '';
                   position: absolute;
                   border-bottom: 2px solid $otherorange;
                   width: 0%;
                   bottom: 0;
                   left: 0;
                   transition: 0.5s;
                }
                &:hover:after{
                   width: 100%;
                }
             }
            }
            #signup{
               width: 90px;
               text-align: center;
               background: $otherorange;
               cursor: pointer;
               transition: 0.5s ease;
               padding:.3rem 0 ;
               border-radius: 5px;
               a{
                  font-size:1rem ;
                  font-weight: 500;
                  color: $white;
                  text-decoration: none;
               }
               &:hover{
                  background: transparent;
                  border: 1px solid $otherorange;
                  a{
                     color: $otherorange;
                  }
               }
            }
            
       }
       button{
          color: $black;
          background: transparent;
          font-size: 2.4rem;
          display: none;
       }
    }
   
   
      // hero sections display
   
      .herobody{
         align-items: center;
         justify-content: space-between;
         height: 100%;
         padding: 0 20px;
         .right-section{
            // width: 80%;
            background-color: black;
         }
      }
     button {
         border: none;
         color: $white;
         font-size: 1.5rem;
         // font-weight: bolder;
      }
   }
   
   .wrapper{
      display: inline-flex;
      .static-txt{
        color: #fff;
        font-size: 30px;
        font-weight: 400;
        line-height: 90px;
     }
     .dynamic-txts{
       margin-left: 15px;
       line-height: 90px;
       height: 80px;
       overflow: hidden;
       /* background: red;  */
    }
    li{
      list-style: none;
      font-size: 30px;
      font-weight: 400;
      color: $otherorange;
      position: relative;
      top: 0%;
      animation: slide 6s steps(4) infinite;
      span{
         position: relative;
         &::after{
           content: "";
           position: absolute;
           left: 0;
           bottom: -1%;
           height: 100%;
           width: 100%;
           background: $otherble;
           border-left: 2px solid $otherorange;
           animation: typing 1.5s steps(10) infinite;
   
      }
      }
   }
   }
   @keyframes slide{
      100%{
        top: -360px;
      }
   }
   
   @keyframes typing{
      100%{
         left: 100%;
         margin: 0 -20px 0 20px;
      }
   }
   
   
   // .hero{
      .hero {
         align-items: center;
         justify-content: space-between;
         padding:0 40px ;
         height: 100vh;
         width: 100%;
         color: $white;
         .image-section{
            width: 40%;
            img{
               width: 100%;
            }
         }
         .welcome-message{
            h1{
               font-size: 45px;
               font-weight: 900;
            }
            h2{
               font-size: 30px;
            }
            button{
               background-color: $otherorange;
               font-size: 1rem;
               font-weight: 600;
               width: 120px;
               height: 40px;
               border: none;
               border-radius: 5px;
               cursor: pointer;
               transition: 0.5s ease-in-out;
               &:hover{
                  transform: scaleX(1.2);
                  box-shadow: 0px 2px 2px $black;
               }
            }
         }
      }
   

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   html{
      scroll-behavior: smooth;
   }
   section.hero-component{
      width: 100%;
      height: 100vh;
      border-radius:0 0  50% 0;
      position: relative;
      // overflow: hidden;
      &:after{
         content: '';
         position: absolute;
         height: 95%;
         width: 58%;
         top: 0%;
         left: 0;
         background: $otherble;
         z-index: -1;
         border-radius: 0 0% 50% 0;
      }
    nav{
      
       display: flex;
       width: 100%;
       position: fixed;
       box-shadow: 2px 2px 12px $black;
       border-radius: 0 0  15px 15px;
       background: $white;
       justify-content:space-between;
       align-items: center;
       height: 120px;
       padding: 0;
      //  overflow: hidden;
       z-index: 1;
       .logo{
         width: 13%;
         img{
            width: 100%;
         }
      }
       ul{
          width: 58%;
          z-index: 1;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          height: 100%;
          background: $otherble;
          li{
             list-style: none;
             .links{
                color: $white;
                text-decoration: none;
                font-size: 1.3rem;
                font-weight: 500;
                position: relative;
                padding:.6rem 0 ;
                letter-spacing:2px ;
                &::after{
                   content: '';
                   position: absolute;
                   border-bottom: 2px solid $otherorange;
                   width: 0%;
                   bottom: 0;
                   left: 0;
                   transition: 0.5s;
                }
                &:hover:after{
                   width: 100%;
                }
             }
            }
            #signup{
               width: 130px;
               text-align: center;
               background: $otherorange;
               cursor: pointer;
               transition: 0.5s ease;
               padding:.3rem 0 ;
               border-radius: 5px;
               a{
                  font-size:1.2rem ;
                  font-weight: 600;
                  color: $white;
                  text-decoration: none;
               }
               &:hover{
                  background: transparent;
                  border: 1px solid $otherorange;
                  a{
                     color: $otherorange;
                  }
               }
            }
            
       }
       button{
          color: $black;
          background: transparent;
          font-size: 2.4rem;
          display: none;
       }
    }
   
   
      // hero sections display
   
      .herobody{
         align-items: center;
         justify-content: space-between;
         height: 100%;
         padding: 0 20px;
         .right-section{
            // width: 80%;
            background-color: black;
         }
      }
     button {
         border: none;
         color: $white;
         font-size: 1.5rem;
         // font-weight: bolder;
      }
   }
   
   
   
   
   
   .wrapper{
      display: inline-flex;
      .static-txt{
        color: #fff;
        font-size: 40px;
        font-weight: 400;
        line-height: 90px;
     }
     .dynamic-txts{
       margin-left: 15px;
       line-height: 90px;
       height: 80px;
       overflow: hidden;
       /* background: red;  */
    }
    li{
      list-style: none;
      font-size: 40px;
      font-weight: 400;
      color: $otherorange;
      position: relative;
      top: 0%;
      animation: slide 6s steps(4) infinite;
      span{
         position: relative;
         &::after{
           content: "";
           position: absolute;
           left: 0;
           bottom: -1%;
           height: 100%;
           width: 100%;
           background: $otherble;
           border-left: 2px solid $otherorange;
           animation: typing 1.5s steps(10) infinite;
   
      }
      }
   }
   }
   @keyframes slide{
      100%{
        top: -360px;
      }
   }
   
   @keyframes typing{
      100%{
         left: 100%;
         margin: 0 -20px 0 20px;
      }
   }
   
   
   // .hero{
      .hero {
         align-items: center;
         justify-content: space-between;
         padding:0 40px ;
         height: 110vh;
         width: 100%;
         color: $white;
         .image-section{
            width: 40%;
            img{
               width: 100%;
            }
         }
         .welcome-message{
            h1{
               font-size: 60px;
               font-weight: 900;
            }
            button{
               background-color: $otherorange;
               font-size: 1.2rem;
               font-weight: 800;
               width: 150px;
               height: 40px;
               border: none;
               border-radius: 5px;
               cursor: pointer;
               transition: 0.5s ease-in-out;
               &:hover{
                  transform: scaleX(1.2);
                  box-shadow: 0px 2px 2px $black;
               }
            }
         }
      }
   
}