
<section class="hero-component ">

   <nav class="navbar ">
        <button class="toggle-navbae">
           <i class="fas fa-bars"></i>
        </button>
      <ul>
         <li id="signup"><a  href="">Sign up</a>
         </li>
         <li>
            <a class="links" href="">Home</a>
         </li>
         <li><a class="links" href="">
            About
         </a></li>
         <li>
            <a class="links" href="">
               Services
            </a>
         </li>
         <li><a class="links" href="">
            Trends
         </a></li>
         <li><a class="links" href="">
            Payment
         </a></li>
        
      </ul>
      <a class=" " href="#" class="logo"><img src="../../../../assets/images/Product.png" alt=""></a>
 </nav>

 <!-- hero section  -->
 <div class="hero container-fluid d-flex">
   <div class="welcome-message">
      
      <h1>We are JE Trading</h1>

      <div class="wrapper">
         <div class="static-txt">A</div>
         <ul class="dynamic-txts">
            <li><span>FAST</span></li>
            <li><span>RELIABLE</span></li>
            <li><span>SECURED TRANSACTION</span></li>
           
         </ul>
   
      </div>
      <H2>Bring The Market To Your Door</H2>

      <button class="seemore">See More</button>
   </div> 

   <div class="image-section">
      <img src="../../../../assets/images/undraw_business_deal_cpi9.png" alt="">
   </div>
 </div>

</section>


