@import "../../../../assets/themes/variable";
@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Montserrat:wght@500;600;700;800&family=Poppins:wght@200;300;500&family=Roboto:wght@300;500;700&display=swap');
.overlay {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
}
.logo{
  width: 15%;
  background: $white;
  border-radius: 10px;
  left: 3%;
  top: 3%;
  z-index: 1;
  position: absolute;
  img{
    width: 100%;
  }

}
.text {
  position: absolute;
  color: $white;
  z-index: 1;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  right: 0%;
  top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  align-items: center;
  padding-left: 20%;
  height: 100vh;
  background:$otherble;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 40% 50%, 40% 50%);
  
  button {
    padding: 0.5rem 1.4rem;
    border-radius: 5px;
    border: none;
    background: $orangered;
    color: $white;
    font-family: 'Montserrat';
    cursor: pointer;
    transition: 0.5s ease-in-out;
    &:hover {
      transform: scaleX(1.3);
      box-shadow: 0px 2px 5px $black;
    }
  }
 
}
p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;

  text-transform: capitalize;
  font-size: 18px;
}
#slider {
  position: relative;
  // top: 0;
  overflow: hidden;
  width: 70%;

  figure {
    position: relative;
    width: 500%;
    // margin: 0;
    left: 0;
    top: 0px;
    animation: 20s slider infinite;
    img {
      z-index: 0;
      height: 100vh;
      float: left;
      width: 20%;
    }
  }
}
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.design-text{
  position: absolute;
  z-index: 1;
  // background-color: black;
  // width: 100vw;
  height: 20vh;
  bottom: 25%;
  left: 30%;
  background: linear-gradient(135deg, transparent, whitesmoke 0%, transparent);
  text-align: center;
  transform: translate(-40%, -50%);
  width: 30%;
  // border-radius: 5px;
  box-shadow: 0px 9px 12px $black;
  animation: slidetext 5s linear 0s;
  // animation:displa 0.2s linear 5s ;
  h3{
    color: $orangered;
    transform: scale(1.2);
    // transform: skewX(10deg);
    font-weight: 800;
    text-transform: capitalize;
  }
  p{
 
    color: $white;
    font-weight: 400;
  }

}
@keyframes slidetext{
  0%{
    left: -50%;
    opacity: 1;
  
  }
  100%{
    right: 0;
  }
}
@keyframes displa{
  from{display: block;}
  to{display: none;}
}


@media only screen and (max-width: 600px) {
  h1{
    font-size: 16px;
  }
  button{
    width: 70px;
    font-size: 8px;
  }
  h3{
    font-size: 12px;
    font-weight: 600;
  }
  p{
    font-size: 10px;
    font-weight: 300;
  }
  .design-text{
    width: 40%;
    top: 20%;
    left: 25%;
  }
  #slider{
    height: 50vh;
  }
  .text{
    height: 50vh;
  }
  .overlay{
    height: 50vh;
  }
}

@media only screen and (max-width: 991px) and (min-width: 600px) {
  h1{
    font-size: 24px;
  }
  button{
    width: 130px;
    font-size: 14px;
  }
  h3{
    font-size: 20px;
    font-weight: 600;
  }
  p{
    font-weight: 300;
  }
  .design-text{
    width: 40%;
  }
}

@media only screen and (min-width: 992px){}