<div class="overlay"></div>
<div class="design-text">
  <h3>new admin </h3>
  <p>we are delighted to bring more market to your home</p>
</div>

<div id="slider"> <div class="logo">
  <img src="../../../../assets/images/Product.png" alt="">
</div>
  <figure>
    <img
      src="../../../../assets/images1/business-tablet-worldwide-cargo-transport-global-busi-commerce-concept-import-export-commercial-logistic-shipping-129639254.jpg"
      alt=""
    />
    <img
      src="../../../../assets/images1/map-global-connection-conceptindustrial-container-260nw-439551565.jpg"
      alt=""
    />
    <img
      src="../../../../assets/images1/business-tablet-worldwide-cargo-transport-global-busi-commerce-concept-import-export-commercial-logistic-shipping-129639254.jpg"
      alt=""
    />
    <img src="../../../../assets/images1/istock-677427698.jpg" alt="" />
    <img
      src="../../../../assets/images1/business-tablet-worldwide-cargo-transport-global-busi-commerce-concept-import-export-commercial-logistic-shipping-129639254.jpg"
      alt=""
    />
  </figure>
</div>
<div class="text">
 
  <h1>welcome To <br> JE Trading</h1>
  <p>we are a team</p>
  <button class="start" (click)= "landingpage()">Get Started</button>
</div>


