<section id="about" class="about container-fluid">
   <div class="header">
      <div class="left-line"></div>
      <h1>About us</h1>
      <div class="left-line"></div>
      
   </div>
   <div class="two-colum ">
      <div class="image-section">
         <img src="../../../../assets/images/undraw_Online_world_re_h4cb.png" alt="">
      </div>
      <div class="text-section">
         <h1> A better Business World With Technology as The Easiest <br>
            Option TO Make Fast Request</h1>
      </div>
   </div>
<br><br><br><br><br><br><br>
   <div class="two-colum ">
      <div class="text-section second" id="second">
         <h1> We connect to the whole  <br>
             world as a community 
          best  <br> Option for a Reliable Market</h1>
      </div>
      <div class="image-section">
         <img src="../../../../assets/images/undraw_Setup_re_y9w8.png" alt="">
      </div>
   </div>

   <br><br><br><br><br><br><br>
   <div class="two-colum ">
      <div class="image-section">
         <img src="../../../../assets/images/undraw_verified_re_4io7.png" alt="">
      </div>
      <div class="text-section">
         <h1> A secured Business and <br> confidentail transactions. <br>
         We offer the best  Security</h1>
      </div>
   </div>
</section>
