@import "../../../../assets/themes/variable";

section#about {
  padding: 5rem 0;
  overflow-x: hidden;
  width: 100%;
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    div {
      margin: 0 1rem;
      width: 100px;
      height: 5px;
      background: $otherorange;
    }
  }
  .two-colum {
    display: flex;
    align-items: center;
    width: inherit;
    justify-content: space-between;
    .image-section {
      width: 50%;
      img {
        width: 100%;
      }
    }
    .text-section {
      width: 60%;
      padding: 11rem 0 11rem 15px;
      height: 70vh;
      color: $white;
      position: relative;
      h1 {
        padding-left: 1rem;
        text-align: center;
        text-transform: capitalize;
      }
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        background: $otherble;
        height: 75vh;
        top: 0;
        z-index: -1;
        border-radius: 40% 0 0 40%;
      }
    }
  }
  #second {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      background: $otherble;
      height: 75vh;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0 45% 45% 0;
    }
  }
}

//
@media only screen and (max-width: 991px) {
   section#about {
      margin-top: 60%;
      padding: 5rem 0;
      overflow-x: hidden;
      width: 100%;
      .header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
        
        div {
          margin: 0 1rem;
          width: 100px;
          height: 5px;
          background: $otherorange;
        }
      }
      .two-colum {
        display: flex;
        align-items: center;
        width: inherit;
        justify-content: space-between;
        flex-direction: column;
        .image-section {
          width: 100%;
          img {
            width: 100%;
          }
        }
        .text-section {
          width: 100%;
          padding: 11rem 0 11rem 15px;
          height: 70vh;
          color: $white;
          position: relative;
          h1 {
            padding-left: 1rem;
            text-align: center;
            text-transform: capitalize;
            font-size: 30px;
          }
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            background: $otherble;
            height: 75vh;
            top: 0;
            z-index: -1;
            border-radius: 40% 0 0 40%;
          }
        }
      }
      #second {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          background: $otherble;
          height: 75vh;
          top: 0;
          left: 0;
          z-index: -1;
          border-radius: 0 45% 45% 0;
        }
      }
    }
}

@media only screen and (min-width: 992px) {
   section#about {
      padding: 5rem 0;
      overflow-x: hidden;
      width: 100%;
      .header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
        div {
          margin: 0 1rem;
          width: 100px;
          height: 5px;
          background: $otherorange;
        }
      }
      .two-colum {
        display: flex;
        align-items: center;
        width: inherit;
        justify-content: space-between;
        .image-section {
          width: 50%;
          img {
            width: 100%;
          }
        }
        .text-section {
          width: 60%;
          padding: 11rem 0 11rem 15px;
          height: 70vh;
          color: $white;
          position: relative;
          h1 {
            padding-left: 1rem;
            text-align: center;
            text-transform: capitalize;
          }
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            background: $otherble;
            height: 75vh;
            top: 0;
            z-index: -1;
            border-radius: 40% 0 0 40%;
          }
        }
      }
      #second {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          background: $otherble;
          height: 75vh;
          top: 0;
          left: 0;
          z-index: -1;
          border-radius: 0 45% 45% 0;
        }
      }
    }
}