/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
h1,h2,h3,h4,h5,h6{
   font-family: 'Montserrat', sans-serif im !important;
   letter-spacing: 2.3px !important;
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif im !important;
}
a{
   font-family: 'Poppins', sans-serif im !important;
   font-weight: 300 !important;
}
