@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

// COLORS 
$color:#FF101F;
$red:#E9190F;


$orangered:#fd8f00;
$orange:#FE4E00;
$otherorange: rgb(255, 165, 0);


$lightblue:#0075C4;
$primary: blue;
$blue:#1464F4;
$goodble:#1C86EE;
$otherble:#007FFF;
$royalblue:#0A2463;
$indigo:#083D77;

$green:#329F5B;
$deepgreen:#0C8346;
$lawngreen:#3F7D20;
$lightgreen:#4CB944;

$white:#ffffff;

$black:#000000;

$gray:#857E7B;



$paragrah-font-family: 'Roboto', sans-serif;

$headers-font-family: 'Roboto', sans-serif;
